/* App.css */
.App {
  text-align: center;
  background-color: #3F2E3E;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 40px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #EFE1D1;
}

.App-header {
  width: 100%; /* Ensure the header spans the entire width */
  background-color: rgba(52, 7, 7, 0.29);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.custom-button {
  background-color: #331D2C;
  color: #A78295;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 16px;
  text-transform: uppercase;
}

.custom-button:hover {
  background-color: #A78295;
  color: #331D2C;
  transform: scale(1.05);
}

.error-message, .confirmation-message {
  padding-bottom: 20px;
}

.clicked {
  background-color: #EFE1D1;
  color: #331D2C;
}

.custom-button.clicked:hover {
  background-color: #EFE1D1;
}
