/* App.css */
.App {
  text-align: center;
  background-color: #3F2E3E;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 40px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #EFE1D1;
}

.App-header {
  width: 100%; /* Ensure the header spans the entire width */
  background-color: rgba(52, 7, 7, 0.29);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #3F2E3E;
  color: #EFE1D1;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #A78295;
}

button:focus {
  outline: none;
}