.movies-heading {
    text-align: left;
}

.movies-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.movies-table th,
.movies-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.movies-table th {
    background-color: #331D2C;
    font-weight: bold;
    text-align: left;
}

.movies-table td {
    text-align: left;
}

.no-movies-message {
    font-style: italic;
    color: #888;
}

.back-button {
    background-color: #331D2C;
    color: #A78295;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 16px;
    text-transform: uppercase;
}

.back-button:hover {
    background-color: #A78295;
    color: #331D2C;
    transform: scale(1.05);
}

.custom-th {
    font-size: 16px;
}